* {
	box-sizing: border-box;
}
body > .page > header {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 100%;

	margin-bottom: 4rem;
}
body > .page > header .top {
	width: 100%;
	height: 2rem;
	background-color: #000;
	display: flex;
	justify-content: center;
}
body > .page > header .top-wrapper {
	max-width: 77.5rem;
	width: 100%;
	padding: 0 1rem;
	height: 100%;
	color: #fff;
	font-weight: 500;
	font-family: Roboto;
	display: flex;
	justify-content: end;
}

body > .page > header .mid {
	max-width: 77.5rem;
	width: 100%;
	height: 4rem;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 0 1rem;
}
body > .page > header .mid .logo {
	font-family: "Cinzel", serif;
	font-size: 2.5rem;
}

body > .page > header .mid div:first-child {
	width: 116px;
}
body > .page > header .mid a {
	position: relative;
}
body > .page > header .mid .mid-right {
	display: flex;
}
body > .page > header .mid .mid-right > * + * {
	margin-left: 1rem;
}
body > .page > header .mid a span.header-cart-quantity {
	position: absolute;
	top: 0;
	right: -5px;
	background-color: #fff;
	border-radius: 50%;
	width: 25px;
	height: 25px;
	border: 0.5px solid black;
	display: flex;
	justify-content: center;
	align-items: center;
}
/* top nav menu */

#menu-container > ul {
	display: flex;
}
#menu-container > ul li {
	position: relative;
}
#menu-container > ul > li {
	padding: 0.1875rem 0.4375rem;
}
#menu-container > ul > li > ul {
	visibility: hidden;
	opacity: 0;
	position: absolute;
	top: 120%;
	left: 0;
	z-index: 99;
	background-color: #f4f0eb;
	transition: top 300ms, opacity 300ms;
}
#menu-container > ul > li li {
	padding: 0.5rem 0.7rem;
}
#menu-container > ul > li li:hover {
	background-color: #edb5b6;
}
#menu-container > ul > li ul {
	background-color: #f4f0eb;
	border: 1px solid #b3b1b1;
}
#menu-container > ul > li:hover > ul {
	visibility: visible;
	opacity: 1;
	top: 100%;
}
#menu-container > ul > li > ul li > ul {
	visibility: hidden;
	opacity: 0;
	position: absolute;
	top: 10;
	left: 100%;
	transition: top 300ms, opacity 300ms;
}
#menu-container > ul > li > ul li:hover > ul {
	visibility: visible;
	opacity: 1;
	top: 0;
}

header .bot {
	max-width: 77.5rem;
	width: 100%;
	height: 2rem;
	display: flex;
	justify-content: center;
}
#menu-container a {
	text-transform: capitalize;
}
